#calendar {
	position: absolute;
	top: 105px;
	left: 24px;
	right: 24px;
	bottom: 32px;
	margin: 0;
}

#calendar #wrapper {
	display: block;
	overflow: auto;
	position: absolute;
	left: 16px;
	right: 16px;
	top: 16px;
	bottom: 16px;
}

#calendar table {
	width: 100%;
	border: 1px solid #666666;
	border-collapse: collapse;
}

#calendar th {
	background-color: #D6D6D6;
	font-weight: bold;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}

#calendar tr {
	border-bottom: 1px solid #666666;
	height: 32px;
}

#calendar td {
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	overflow: visible;
	padding: auto 4px;
	position: relative;
	vertical-align: top;
	height: 32px;
	max-height: 32px;
}

#calendar thead th,
#calendar td {
	width: 15%;
}

#calendar thead th:first-child,
#calendar tbody th {
	width: 10%;
}

#calendar tbody tr:nth-child(odd) {
	border-bottom: 1px solid #D6D6D6;
}

#weekselect {
	position: absolute;
	right: 24px;
	top: 24px;
}

#weekselect * {
	line-height: 32px;
}

#weekselect span {
	font-weight: bold;
	color: white;
}

#weekselect .previous,
#weekselect .next,
#weekselect .go {
	color: white;
	font-weight: bold;
}

#weekselect .previous {
	margin-right: 8px;
}

#weekselect .next {
	margin-left: 8px;
}

#weekselect .go {
	margin-left: 8px;
}

#weekselect #year {
	width: auto;
}

#day {
	width: 64px;
}

#month {
	width: 160px;
}

.appointment {
	background-color: #ffbb33;
	border: 2px solid #ff8800;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	margin-bottom: -9999px;
	padding-left: 2px;
}

.appointment.exam {
	background-color: #ff4444;
	border-color: #cc0000;
}

.appointment.exam * {
	color: black;
}

.appointment * {
	width: 100%;
	float: left;
	font-size: 12px;
}

.appointment .time {
	font-weight: bold;
	margin-bottom: 4px;
}

.appointment .title {
	margin-bottom: 8px;
}

.appointment .docent {
	font-style: italic;
}

.appointment .room {
	font-style: italic;
}

.appointment .category {
	font-style: italic;
}